.cartLogo {
    position: absolute;
    display: flex;
    right: 10px;
    height: 100%;
    width: 50px;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    color: #1d3f1c;
    cursor: pointer;
    z-index: -100;
}

.cartCount {
    position: absolute;
    background-color: #ff6e63;
    padding: 2px 5px;
    border-radius: 90px;
    font-size: 16px;
    top: 10px;
    right: 0px;
    font-size: 10px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartMenu {
    position: absolute;
    background-color: #f3f2e2;
    width: 500px;
    right: 10px;
    top: 60px;
    padding: 10px;
    z-index: 1000000000;
    border: 1px solid #677069;
    border-radius: 20px;
    max-height: 50vh;
    overflow-y: scroll;
}

.cartMenuItem {
    margin: 10px;
    padding: 15px 15px;
    border: 1px solid #677069;
    border-radius: 10px;
    display: flex;
}

.cartItemQuantity {
    margin-left: 5%;
    width: auto;
    padding: 10px;
    height: 20px;
    font-size: 15px;
    background-color: #ff6e63;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartRemoveItem {
    display: flex;
    align-items: center;
    color: red;
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.checkoutButton {
    padding: 9px 25px;
    width: fit-content;
    margin: 20px auto 10px auto;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .cartMenu {
        position: absolute;
        background-color: #f3f2e2;
        left: 10px;
        right: 10px;
        width: auto;
        top: 74px;
        padding: 10px;
        z-index: 1000000000;
        border: 1px solid #677069;
        border-radius: 20px;
        max-height: 70vh;
        overflow-y: scroll;
    }
}
