.columnDivider {
    position: absolute;
    background-color: #000000;
    height: 100%;
    width: 1px;
    left: 50%;
}

.card {
    width: 35vw;
    padding: 15px;
    position: relative;
    height: auto;
    outline: 1px solid #677069;
}

.card img {
    width: 100%;
    height: calc(35vw - 30px);
    margin: 0px;
    object-fit: cover;
}

.card .infoContainer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: -15px;
    margin-top: -6px;
}

.card .infoContainer .name {
    margin-left: 10px;
    text-transform: uppercase;
}

.card .infoContainer .price {
    margin-right: 10px;
    margin-left: auto;
}

.card .infoContainer .variations {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.card .infoContainer .variations .rock {
    width: 35px;
    height: 50px;
    border-radius: 90px;
    /* background-color: rgba(255, 255, 255, 0.4); */
    /* box-shadow: 0 0px 10px 2px rgba(255, 255, 255, 0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}

.card .infoContainer .variations .rock img {
    width: 100%;
    height: auto;
    max-height: 30px;
    object-fit: contain;
}

@media only screen and (max-width: 1200px) {
    .card {
        width: 50vw;
    }

    .card img {
        width: 100%;
        height: 45vw;
        margin: 0px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 900px) {
    .card {
        width: 100vw;
    }

    .card img {
        width: 100%;
        height: 80vw;
        margin: 0px;
        object-fit: cover;
        /* border-radius: 10px; */
    }

    .card .infoContainer {
        font-size: 15px;
    }

    .card .infoContainer .name {
        margin-left: 10px;
    }

    .card .infoContainer .variations {
        position: relative;
        display: flex;
        transform: translate(-125%, 0%);
        margin: 0px;
        margin-left: 20px;
    }

    .card .infoContainer .variations .rock {
        width: 30px;
    }
}
