.container {
    display: flex;
    width: 100%;
    padding: 5% 30% 5% 5%;
    flex-direction: column;
}

.title {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 4vh;
    letter-spacing: -1.3px;
}

.markdown {
    margin-bottom: 4vh;
    width: 100%;
    white-space: pre-wrap;
    line-height: 20px;
}

.reactMarkdown img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .container {
        padding: 5% 5% 5% 5%;
    }
}
