.addToCartButton {
    margin-bottom: 50px;
    padding: 10px 30px;
    width: fit-content;
    background-color: #000000;
    border-radius: 15px;
    color: #f2f2f3;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 10px -2px #000000;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.addToCartButton:hover {
    background-color: #0a140a;
    box-shadow: 0 4px 7px -2px #000000;
}

.addToCartButton:active {
    background-color: #112110;
    transition-duration: 50ms;
}
