.buyButton {
    padding: 10px 30px;
    width: fit-content;
    background-color: #000000;
    border-radius: 15px;
    color: #f2f2f3;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.buyButton:hover {
    background-color: #0a140a;
    border-radius: 18px;
    transition-duration: 200ms;
}

.buyButton:active {
    background-color: #112110;
    border-radius: 20px;
    transition-duration: 50ms;
}

.leftContainer {
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    max-height: 90vh;
    border-bottom: solid #677069 1px;
    margin-bottom: 20px;
}

.imageContainer img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: min-content;
    vertical-align: bottom;
    padding: 10px;
    display: flex;
    margin-left: auto;
    border-left: solid #677069 1px;
}

.imageContainer {
    width: 40%;
    height: auto;
    float: left;
    display: flex;
    object-fit: contain;
}

.leftArrow {
    position: absolute;
    bottom: 10px;
    right: calc((100% - 40%) + 50px);
    font-size: 50px;
    color: #2e652d;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    bottom: 10px;
    right: calc((100% - 40%) + 10px);
    font-size: 50px;
    color: #2e652d;
    cursor: pointer;
}

.rightContainer {
    width: calc(100% - 40%);
    height: auto;
    display: flex;
    flex-direction: column;
    border-left: solid #677069 1px;
    padding-left: 70px;
    padding-right: 70px;
    float: right;
    overflow: scroll;
}

.name {
    margin-top: 50px;
    font-size: 33pt;
    text-transform: lowercase;
    letter-spacing: -1.3px;
}

.productVariation {
    margin-left: 2.8px;
    color: #474040;
    line-height: 5px;
    font-size: 10pt;
    text-transform: lowercase;
}

.variationContainer {
    display: flex;
    width: fit-content;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.rockContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -30px;
    align-items: center;
    justify-content: center;
}

.rockContainer .underText {
    display: flex;
    text-transform: lowercase;
    margin-bottom: 0px;
    margin-top: auto;
    font-size: 10pt;
    color: #474040;
}

.variationButton {
    position: relative;
    margin: auto 30px 10px 30px;
    height: auto;
    max-width: 50px;
    cursor: pointer;
}

.description {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 70%;
    white-space: pre-wrap;
}
