.buyButton {
    padding: 10px 30px;
    width: fit-content;
    background-color: #000000;
    border-radius: 15px;
    color: #f2f2f3;
    font-weight: 500;
    font-size: 14pt;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.buyButton:hover {
    background-color: #0a140a;
    border-radius: 18px;
    transition-duration: 200ms;
}

.buyButton:active {
    background-color: #112110;
    border-radius: 20px;
    transition-duration: 50ms;
}

.mainContainer {
    position: relative;
    width: 100%;
    display: flex;
    height: auto;
    max-height: 90vh;
    border-bottom: solid #677069 1px;
    margin-bottom: 20px;
}

.imageContainer img {
    width: 100%;
    height: calc(90vh - 20px);
    vertical-align: bottom;
    display: flex;
    margin-left: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px -2px;
}

.imageContainer {
    width: 42%;
    height: auto;
    padding: 10px 10px 10px 0px;
    display: flex;
}

.leftArrow {
    position: absolute;
    top: 20px;
    right: calc((100% - 40%) + 50px - 18px - 15px);
    height: 40px;
    width: 40px;
    color: #000000;
    cursor: pointer;
    background-color: white;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 20px;
    right: calc((100% - 40%) + 10px - 28px - 15px);
    height: 40px;
    width: 40px;
    color: #000000;
    cursor: pointer;
    background-color: white;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    opacity: 0.7;
    cursor: pointer;
}

.rightContainer {
    width: calc(100% - 40%);
    height: auto;
    display: flex;
    flex-direction: column;
    border-left: solid #677069 1px;
    padding-left: 70px;
    padding-right: 70px;
    overflow: scroll;
    -moz-user-select: none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
}

.name {
    margin-top: 50px;
    font-size: 33pt;
    text-transform: lowercase;
    letter-spacing: -1.3px;
}

.productVariation {
    margin-left: 2.8px;
    color: #474040;
    line-height: 5px;
    font-size: 10pt;
    text-transform: lowercase;
}

.variationContainer {
    display: flex;
    width: fit-content;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.rockContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -30px;
    align-items: center;
    justify-content: center;
}

.rockContainer .underText {
    display: flex;
    text-transform: lowercase;
    margin-bottom: 0px;
    margin-top: auto;
    font-size: 10pt;
    color: #474040;
}

.variationButton {
    position: relative;
    margin: auto 30px 10px 30px;
    height: auto;
    max-width: 50px;
    cursor: pointer;
}

.description {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 80%;
    white-space: pre-wrap;
}

.photoSecector {
    position: relative;
    height: auto;
    width: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.photoSecector::-webkit-scrollbar {
    display: none;
}

.photoSecector img {
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50px;
    width: auto;
    object-fit: cover;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px -2px;
}

/*
 *
 * Tablet
 *
 */
@media only screen and (max-width: 1200px) {
    .mainContainer {
        position: relative;
        width: 100%;
        display: flex;
        height: auto;
        max-height: none;
        border-bottom: solid #677069 1px;
        margin-bottom: 20px;
        flex-direction: column;
        overflow-y: scroll;
    }

    .imageContainer img {
        width: 70%;
        height: 60vh;
        vertical-align: bottom;
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    .imageContainer {
        width: 100%;
        height: auto;
        display: flex;
        padding-top: 0px;
        padding-right: 0px;
        border-bottom: solid #677069 1px;
        justify-content: center;
        align-items: center;
    }

    .imageContainer .imageContent {
        border-left: solid #677069 1px;
        border-right: solid #677069 1px;
        background-color: red;
        width: 70%;
    }

    .leftArrow {
        position: absolute;
        top: calc(20px + 55px);
        right: calc(15% + 60px);
        height: 40px;
        width: 40px;
        color: #000000;
        cursor: pointer;
        background-color: white;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        opacity: 0.7;
    }

    .rightArrow {
        position: absolute;
        top: calc(20px + 55px);
        right: calc(15% + 10px);
        height: 40px;
        width: 40px;
        color: #000000;
        cursor: pointer;
        background-color: white;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        opacity: 0.7;
    }

    .rightContainer {
        width: 100vw;
        height: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        border: none;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }

    .name {
        margin-top: 0px;
        font-size: 25pt;
        text-transform: lowercase;
        letter-spacing: -1.3px;
    }

    .productVariation {
        margin-left: 2.8px;
        color: #474040;
        line-height: 5px;
        font-size: 10pt;
        text-transform: lowercase;
    }

    .variationContainer {
        display: flex;
        width: fit-content;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .rockContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: -30px;
        align-items: center;
        justify-content: center;
    }

    .rockContainer .underText {
        display: flex;
        text-transform: lowercase;
        margin-bottom: 0px;
        margin-top: auto;
        font-size: 10pt;
        color: #474040;
    }

    .variationButton {
        position: relative;
        margin: auto 30px 10px 30px;
        height: auto;
        max-width: 40px;
        cursor: pointer;
    }

    .description {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 100%;
        white-space: pre-wrap;
    }

    .photoSecector {
        position: relative;
        height: 65px;
        width: calc(70% - 20px);
        padding: 10px 0px 10px 0px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .photoSecector img {
        cursor: pointer;
        border-radius: 5px;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        width: 50px;
    }

    .photoSecector img:first-child {
        margin-left: 0px;
    }
    .photoSecector img:last-child {
        margin-right: 0px;
    }
}

/*
 *
 * Mobile
 *
 */
@media only screen and (max-width: 600px) {
    .mainContainer {
        position: relative;
        width: 100%;
        display: flex;
        height: auto;
        max-height: none;
        border-bottom: solid #677069 1px;
        margin-bottom: 20px;
        flex-direction: column;
        overflow-y: scroll;
    }

    .imageContainer img {
        width: 100%;
        height: 60vh;
        vertical-align: bottom;
        display: flex;
        object-fit: cover;
        border: none;
        border-radius: 10px;
    }

    .imageContainer {
        width: 100%;
        height: auto;
        display: flex;
        border: none;
        padding: 0px 10px 10px 10px;
        border-bottom: solid #677069 1px;
    }

    .leftArrow {
        position: absolute;
        top: calc(20px + 55px);
        right: 70px;
        height: 40px;
        width: 40px;
        color: #000000;
        cursor: pointer;
        background-color: white;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        opacity: 0.7;
    }

    .rightArrow {
        position: absolute;
        top: calc(20px + 55px);
        right: 20px;
        height: 40px;
        width: 40px;
        color: #000000;
        cursor: pointer;
        background-color: white;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        opacity: 0.7;
    }

    .rightContainer {
        width: 100vw;
        height: auto;
        display: flex;
        position: relative;
        flex-direction: column;
        border: none;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 25px;
    }

    .name {
        margin-top: 0px;
        font-size: 25pt;
        text-transform: lowercase;
        letter-spacing: -1.3px;
    }

    .productVariation {
        margin-left: 2.8px;
        color: #474040;
        line-height: 5px;
        font-size: 10pt;
        text-transform: lowercase;
    }

    .variationContainer {
        display: flex;
        width: fit-content;
        height: 80px;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .rockContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-left: -30px;
        align-items: center;
        justify-content: center;
    }

    .rockContainer .underText {
        display: flex;
        text-transform: lowercase;
        margin-bottom: 0px;
        margin-top: auto;
        font-size: 10pt;
        color: #474040;
    }

    .variationButton {
        position: relative;
        margin: auto 30px 10px 30px;
        height: auto;
        max-width: 40px;
        cursor: pointer;
    }

    .description {
        margin-top: 30px;
        margin-bottom: 60px;
        width: 100%;
        white-space: pre-wrap;
    }

    .photoSecector {
        position: relative;
        height: 65px;
        width: calc(100% - 20px);
        padding: 10px;
        padding-bottom: 10px;
        border: none;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
    }

    .photoSecector img {
        cursor: pointer;
        border-radius: 5px;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
        object-fit: cover;
    }
}
